.videoContainer{
  width: 100%;
  height: 100%;
  .videos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .other,.mySelf{
      border: solid 1px red;
      flex: 1;
      video{
        width: 100%;
      }
    }
  }
}
.videoContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  video{
    flex: 1;
  }
}
.audioContainer{
  width: 100%;
  height: 100%;
  .bottomVideo{
    position: relative;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    video{
      width: 100%;
    }
  }
  .mainOption{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    .elseVideoContainer{
      position: relative;
      z-index: 999;
      width: 30%;
      height: auto;
      border-radius: 7%;
      overflow: hidden;
    }
    .avator{
      width: 100%;
      text-align: center;
      height: 200px;
      margin: 40px 0px;
      div{
        border: solid 1px red;
        border-radius: 100%;
        margin: 0 auto;
        height: 100%;
        width: 200px;
      }
    }
    .promptText{
      flex: 1;
      color: white;
      font-size: 14px;
      text-align: center;
    }
    .optionBtns{
      // margin-bottom: 50px;
      position: absolute;
      bottom: 50px;
      color: white;
      display: flex;
      height: 60px;
      width: 100%;
      .callBtn{
        flex: 1;
        text-align: center;
        .btnContainer{
          margin: 0 auto;
          background-color: #3F3E39;
          border-radius: 21%;
          width: 60px;
          height: 100%;
          text-align: center;
          font-size: 27px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      .closeBtn{
        background-color: #FF3250 !important;
      }
    }
  }
}