.group {
  line-height: 28px;
  position: relative;
 }
 .forgot{
  margin-top: 8px;
  text-decoration: none;
  color: #686868;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  display: inline-block;
  width: 100%;
 }