.group {
  line-height: 28px;
  position: relative;
 }
 
.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  color: #0d0c22;
  background-color: #fff;
  transition: .3s ease;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 .forgot{
  margin-top: 8px;
  text-decoration: none;
  color: #686868;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  display: inline-block;
  width: 100%;
 }